Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-fix, cargo-build, cargo-test

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -v --all -- --check -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fix:
  name: cargo fix
  description: Check the package for errors.
  entry: bash -c 'cargo fix -v --broken-code --all-targets --all-features --tests --benches --examples --allow-dirty --allow-staged'
  language: rust
  pass_filenames: false
  verbose: true

cargo-build:
  name: cargo build
  description: build the package for errors.
  entry: bash -c 'cargo build --release --all -v'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: test the package for errors.
  entry: bash -c 'RUST_BACKTRACE=1 cargo test --all --release -v -- --nocapture --test-threads=1'
  language: rust
  pass_filenames: false

Added the English README file.
  README-en
Due: none

Adjusting the Text Format
  docs/man/sctl.md
Due: none

fix: fix some typos
  core/bin/mount/setup.rs
  core/bin/unit/base/relation.rs
  core/bin/unit/base/relation_atom.rs
  core/lib/unit/deps.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: support switch_root
  Cargo.toml
  core/bin/main.rs
  core/bin/manager/mod.rs
  exts/init/src/runtime/mod.rs
  exts/init/src/runtime/signals.rs
  exts/switch_root/Cargo.toml
  exts/switch_root/src/main.rs
  exts/switch_root/src/switch_root.rs
  libs/basic/src/process_util.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

重命名 README-en 为 README-en.md
  README-en.md
Due: none

fix: delete one trailing space
  README-en.md
Due: none

feature: add ConditionKernelCommandLine This also reorder the Conditionxxx enums and functions, no functional change
  core/bin/unit/entry/condition.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/rentry.rs
  docs/man/unit.md
  libs/basic/src/condition.rs
  libs/basic/src/proc_cmdline.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

修复文档错误
  docs/design/01-errors_of_sysmaster.md
  docs/design/cores/01-devel-doc.md
Due: none

fix some typos
  docs/design/00-sysmaster_architecture.md
  docs/design/01-errors_of_sysmaster.md
  docs/design/extends/02-devmaster-architecture.md
Due: none

Unified printing format
  tests/test_units/test_service/notify_test.c
Due: none

testcase: add restart test
  tests/config_test/unit_config_test/dependency_003/check.sh
  tests/config_test/unit_config_test/exec_001/check.sh
  tests/config_test/unit_config_test/restart_001/check.sh
  tests/config_test/unit_config_test/restart_001/restart_001.sh
  tests/docker_config_test.rs
  tests/docker_config_test/docker_config_test_restart_001/check.sh
  tests/docker_config_test/docker_config_test_restart_001/docker_config_test_restart_001.sh
  tests/test_units/tests/exec.service
  tests/test_units/tests/restart_001.service
  tests/test_units/tests/restart_002.service
  tests/test_units/tests/restart_003.service
  tests/test_units/tests/restart_004.service
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(libdevice): support add_property and get_property_value
  libs/device/src/device.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(libdevice): give example for create device object
  libs/device/examples/device_from.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(devmaster): create the framework of builtin commands
  exts/devmaster/src/lib/builtin/blkid.rs
  exts/devmaster/src/lib/builtin/btrfs.rs
  exts/devmaster/src/lib/builtin/example.rs
  exts/devmaster/src/lib/builtin/hwdb.rs
  exts/devmaster/src/lib/builtin/input_id.rs
  exts/devmaster/src/lib/builtin/keyboard.rs
  exts/devmaster/src/lib/builtin/kmod.rs
  exts/devmaster/src/lib/builtin/mod.rs
  exts/devmaster/src/lib/builtin/net_id.rs
  exts/devmaster/src/lib/builtin/net_setup_link.rs
  exts/devmaster/src/lib/builtin/path_id.rs
  exts/devmaster/src/lib/builtin/uaccess.rs
  exts/devmaster/src/lib/builtin/usb_id.rs
  exts/devmaster/src/lib/error.rs
  exts/devmaster/src/lib/lib.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: add refuse test
  tests/config_test/unit_config_test/refuse_001/check.sh
  tests/config_test/unit_config_test/refuse_001/refuse_001.sh
  tests/docker_config_test.rs
  tests/docker_config_test/docker_config_test_refuse_001/check.sh
  tests/docker_config_test/docker_config_test_refuse_001/docker_config_test_refuse_001.sh
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: add ConditionSecurity
  core/bin/unit/entry/condition.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/rentry.rs
  docs/man/unit.md
  libs/basic/Cargo.toml
  libs/basic/src/condition.rs
  libs/basic/src/lib.rs
  libs/basic/src/security.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: use /sys/fs/cgroup/systemd as cgroup manager path in container
  core/bin/manager/mod.rs
  core/bin/mount/setup.rs
  docs/man/init.md
  exts/init/src/runtime/comm.rs
  libs/basic/Cargo.toml
  libs/basic/src/lib.rs
  libs/basic/src/show_table.rs
  libs/basic/src/virtualize.rs
  libs/cgroup/src/cgroup.rs
  libs/cgroup/src/lib.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: add RemainAfterExit test
  tests/config_test/unit_config_test/service_001/check.sh
  tests/config_test/unit_config_test/service_001/service_001.sh
  tests/docker_config_test.rs
  tests/docker_config_test/docker_config_test_service_001/check.sh
  tests/docker_config_test/docker_config_test_service_001/docker_config_test_service_001.sh
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: add many Conditionxxx unit configurations
  core/bin/unit/entry/condition.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/rentry.rs
  docs/man/unit.md
  libs/basic/Cargo.toml
  libs/basic/src/condition.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: add environment test
  tests/config_test/unit_config_test/env_001/check.sh
  tests/config_test/unit_config_test/env_001/env_001.sh
  tests/docker_config_test.rs
  tests/docker_config_test/docker_config_test_env_001/check.sh
  tests/docker_config_test/docker_config_test_env_001/docker_config_test_env_001.sh
  tests/test_units/tests/env.service
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: refuse manual restart if RefuseManualStart or RefuseManualStop is set
  core/bin/manager/mod.rs
  core/bin/unit/manager.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: delete pid file when service enter dead
  coms/service/src/mng.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: add kill test and pid test
  tests/config_test/unit_config_test/kill_001/check.sh
  tests/config_test/unit_config_test/kill_001/kill_001.sh
  tests/config_test/unit_config_test/kill_001/kill_mode.c
  tests/config_test/unit_config_test/service_002/check.sh
  tests/config_test/unit_config_test/service_002/fork_exec.c
  tests/config_test/unit_config_test/service_002/service_002.sh
  tests/docker_config_test.rs
  tests/docker_config_test/docker_config_test_kill_001/check.sh
  tests/docker_config_test/docker_config_test_kill_001/docker_config_test_kill_001.sh
  tests/docker_config_test/docker_config_test_kill_001/kill_mode.c
  tests/docker_config_test/docker_config_test_service_002/check.sh
  tests/docker_config_test/docker_config_test_service_002/docker_config_test_service_002.sh
  tests/docker_config_test/docker_config_test_service_002/fork_exec.c
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: supported timeout for start or stop the service
  coms/service/src/comm.rs
  coms/service/src/config.rs
  coms/service/src/mng.rs
  coms/service/src/pid.rs
  coms/service/src/rentry.rs
  coms/service/src/spawn.rs
  coms/service/src/unit.rs
  coms/socket/src/mng.rs
  core/bin/unit/entry/uentry.rs
  core/lib/error.rs
  core/lib/unit/base.rs
  docs/man/service.md
  exts/init/src/runtime/comm.rs
  libs/basic/src/process_util.rs
  libs/basic/src/show_table.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: add socket test
  tests/common/util_lib.sh
  tests/config_test/unit_config_test/condition_003/check.sh
  tests/config_test/unit_config_test/condition_003/condition_003.sh
  tests/config_test/unit_config_test/listen_001/check.sh
  tests/config_test/unit_config_test/listen_001/listen_001.sh
  tests/config_test/unit_config_test/service_001/check.sh
  tests/config_test/unit_config_test/service_003/check.sh
  tests/config_test/unit_config_test/service_003/service_003.sh
  tests/config_test/unit_config_test/socket_001/check.sh
  tests/config_test/unit_config_test/socket_001/socket_001.sh
  tests/docker_config_test.rs
  tests/docker_config_test/docker_config_test_condition_003/check.sh
  tests/docker_config_test/docker_config_test_condition_003/docker_config_test_condition_003.sh
  tests/docker_config_test/docker_config_test_listen_001/check.sh
  tests/docker_config_test/docker_config_test_listen_001/docker_config_test_listen_001.sh
  tests/docker_config_test/docker_config_test_service_003/check.sh
  tests/docker_config_test/docker_config_test_service_003/docker_config_test_service_003.sh
  tests/docker_config_test/docker_config_test_socket_001/check.sh
  tests/docker_config_test/docker_config_test_socket_001/docker_config_test_socket_001.sh
  tests/test_units/tests/base.socket
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

docs: update configuration guide
  docs/man/service.md
  docs/man/socket.md
Due: none

feature(devmaster): support loading rules for several tokens
  exts/devmaster/Cargo.toml
  exts/devmaster/src/lib/error.rs
  exts/devmaster/src/lib/lib.rs
  exts/devmaster/src/lib/rules/mod.rs
  exts/devmaster/src/lib/rules/rule_load.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(devmaster): support sharing rules among threads
  exts/devmaster/src/bin/devmaster/main.rs
  exts/devmaster/src/lib/framework/devmaster.rs
  exts/devmaster/src/lib/framework/mod.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
  exts/devmaster/src/lib/rules/mod.rs
  exts/devmaster/src/lib/rules/rule_load.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: don't compile the document code in show_table and logger, and fix the compile error in the libevent document
  libs/basic/src/logger.rs
  libs/basic/src/show_table.rs
  libs/event/src/lib.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

refactor(devmaster): rename uevent monitor
  exts/devmaster/src/lib/framework/devmaster.rs
  exts/devmaster/src/lib/framework/uevent_monitor.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: use toml config style for ConditionACPower and ConditionFirstBoot
  core/bin/unit/entry/config.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/rentry.rs
  docs/man/systemd2sysmaster.md
  docs/man/unit.md
  libs/basic/src/condition.rs
  libs/basic/src/lib.rs
  libs/basic/src/serialize.rs
  tests/config_test/unit_config_test/condition_002/check.sh
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(devmaster): add framework of rule execution
  exts/devmaster/src/lib/error.rs
  exts/devmaster/src/lib/framework/devmaster.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
  exts/devmaster/src/lib/rules/mod.rs
  exts/devmaster/src/lib/rules/rule_execute.rs
  exts/devmaster/src/lib/rules/rule_load.rs
  exts/devmaster/src/lib/rules/utils.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(libdevice): support device open
  libs/basic/src/errno_util.rs
  libs/basic/src/fd_util.rs
  libs/basic/src/stat_util.rs
  libs/device/src/device.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: add condition test
  tests/common/util_lib.sh
  tests/config_test/unit_config_test/condition_001/check.sh
  tests/config_test/unit_config_test/condition_001/condition_001.sh
  tests/config_test/unit_config_test/condition_003/check.sh
  tests/config_test/unit_config_test/exec_001/check.sh
  tests/config_test/unit_config_test/listen_001/check.sh
  tests/config_test/unit_config_test/service_001/check.sh
  tests/config_test/unit_config_test/service_001/service_001.sh
  tests/config_test/unit_config_test/service_003/check.sh
  tests/config_test/unit_config_test/socket_001/check.sh
Due: cargo-build, cargo-test

refactor(devmaster): rename struct fields in rules
  exts/devmaster/src/lib/rules/mod.rs
  exts/devmaster/src/lib/rules/rule_execute.rs
  exts/devmaster/src/lib/rules/rule_load.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: delete relative path condition test
  tests/config_test/unit_config_test/condition_001/check.sh
Due: cargo-build, cargo-test

fix: remove the hashmap item only when the value is empty
  core/bin/unit/datastore/deps.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: remove the default implementation of priority in source trait
  coms/mount/src/manager.rs
  coms/service/src/mng.rs
  core/bin/job/entry.rs
  core/bin/manager/commands.rs
  core/bin/manager/signals.rs
  libs/event/src/source.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: consider the unit was stopped when the main process exits
  coms/service/src/mng.rs
  core/bin/unit/entry/uentry.rs
  exts/devmaster/src/lib/rules/rule_load.rs
  libs/cgroup/src/cgroup.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: remove unit_start/stop/restart_manual, add 'is_manual' parameter to find whether the request is from sctl
  coms/mount/src/manager.rs
  coms/service/src/mng.rs
  coms/socket/src/mng.rs
  core/bin/manager/mod.rs
  core/bin/unit/datastore/deps.rs
  core/bin/unit/manager.rs
  core/lib/unit/umif.rs
  exts/init/src/runtime/signals.rs
  libs/cmdproto/src/proto/frame.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-fix: any of: \.rs$
  cargo-build: any of: \.(rs|toml|sh)$
  cargo-test: any of: \.(rs|toml|sh)$
