Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-fix, cargo-build, cargo-test

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -v --all -- --check -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fix:
  name: cargo fix
  description: Check the package for errors.
  entry: bash -c 'cargo fix -v --broken-code --all-targets --all-features --tests --benches --examples --allow-dirty --allow-staged'
  language: rust
  pass_filenames: false
  verbose: true

cargo-build:
  name: cargo build
  description: build the package for errors.
  entry: bash -c 'cargo build --release --all -v'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: test the package for errors.
  entry: bash -c 'RUST_BACKTRACE=1 cargo test --all --release -v -- --nocapture --test-threads=1'
  language: rust
  pass_filenames: false

feature(libdevice): support get_sysattr_value
  exts/devmaster/src/bin/devctl/subcmds/devctl_monitor.rs
  exts/devmaster/src/lib/framework/job_queue.rs
  libs/device/src/device.rs
  libs/device/src/device_enumerator.rs
  libs/device/src/lib.rs
  libs/device/src/utils.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(libdevice): support creating device from subsystem and sysname
  libs/device/src/device.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: show Docs in sctl status
  core/bin/unit/entry/load.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/manager.rs
  core/lib/unit/state.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(libdevice): support from_device_id and get_device_id
  libs/basic/src/lib.rs
  libs/basic/src/parse_util.rs
  libs/device/Cargo.toml
  libs/device/examples/enumerator.rs
  libs/device/src/device.rs
  libs/device/src/utils.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: add ConditiontPathIsReadWrite
  core/bin/unit/entry/condition.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/rentry.rs
  docs/man/unit.md
  libs/basic/src/condition.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: service state run to failed when run restart command
  coms/service/src/mng.rs
  core/lib/unit/state.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: fix the manual error about and
  docs/man/unit.md
Due: none

fix: ignore the error code generated by abnormal state when calling sctl status
  exts/sctl/src/main.rs
  libs/cmdproto/src/error.rs
  libs/cmdproto/src/proto/execute.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: add ConditionACPower
  core/bin/unit/entry/condition.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/rentry.rs
  docs/man/unit.md
  libs/basic/src/condition.rs
  libs/basic/src/device.rs
  libs/basic/src/lib.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix(libdevice): fix mistakenly using absolute path instead of filename when parsing devnum
  libs/basic/src/parse_util.rs
  libs/device/src/device.rs
  libs/device/src/device_enumerator.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

docs: add edit button for sysmaster.online
  mkdocs.yml
Due: none

docs: typo fix
  docs/man/all.md
Due: none

dependency_001 add Requisite/PartOf/BindsTo
  tests/common/docker_lib.sh
  tests/common/util_lib.sh
  tests/config_test/unit_config_test/assert_001/assert_001.sh
  tests/config_test/unit_config_test/condition_001/check.sh
  tests/config_test/unit_config_test/condition_001/condition_001.sh
  tests/config_test/unit_config_test/condition_002/check.sh
  tests/config_test/unit_config_test/condition_002/condition_002.sh
  tests/config_test/unit_config_test/dependency_001/check.sh
  tests/config_test/unit_config_test/dependency_001/dependency_001.sh
  tests/config_test/unit_config_test/dependency_002/check.sh
  tests/config_test/unit_config_test/dependency_002/dependency_002.sh
  tests/config_test/unit_config_test/exec_001/check.sh
  tests/config_test/unit_config_test/exec_001/exec_001.sh
  tests/config_test/unit_config_test/seq_001/check.sh
  tests/config_test/unit_config_test/seq_001/seq_001.sh
  tests/config_test/unit_config_test/startlimit_001/check.sh
  tests/config_test/unit_config_test/startlimit_001/startlimit_001.sh
  tests/test_frame.sh
  tests/test_units/tests/after.service
  tests/test_units/tests/before.service
  tests/test_units/tests/bindsto.service
  tests/test_units/tests/conflicts.service
  tests/test_units/tests/fork.service
  tests/test_units/tests/partof.service
  tests/test_units/tests/reliable_001.service
  tests/test_units/tests/reliable_002.service
  tests/test_units/tests/requires.service
  tests/test_units/tests/requisite.service
  tests/test_units/tests/wants.service
Due: cargo-build, cargo-test

refactor: rewrite show_table.rs This also add color and underline features.
  core/bin/unit/manager.rs
  core/lib/unit/state.rs
  libs/basic/src/show_table.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: check the unit load state when start or stop a unit.
  core/bin/job/manager.rs
  core/bin/job/transaction.rs
  core/bin/unit/entry/load.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/entry/unitx.rs
  core/bin/unit/manager.rs
  core/bin/unit/rentry.rs
  core/bin/unit/runtime.rs
  core/bin/unit/uload.rs
  core/lib/error.rs
  core/lib/unit/base.rs
  libs/device/src/device.rs
  tests/test_units/test1.service
  tests/test_units/test2.service
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: add condition/assert test
  tests/common/util_lib.sh
  tests/config_test/unit_config_test/assert_001/assert_001.sh
  tests/config_test/unit_config_test/condition_001/check.sh
  tests/config_test/unit_config_test/condition_001/condition_001.sh
  tests/config_test/unit_config_test/condition_002/check.sh
  tests/config_test/unit_config_test/condition_002/condition_002.sh
Due: cargo-build, cargo-test

docs(devmaster): add public article
  docs/design/extends/02-devmaster-architecture.md
  docs/design/extends/02-devmaster-public-article.md
  docs/design/extends/assets/device_management.png
  docs/design/extends/assets/devmaster_architecture.jpg
  docs/design/extends/assets/devmaster_architecture.png
Due: none

feature: add ManagerConfig and enable log configuration
  core/bin/job/junit.rs
  core/bin/job/manager.rs
  core/bin/job/notify.rs
  core/bin/job/stat.rs
  core/bin/job/table.rs
  core/bin/job/transaction.rs
  core/bin/main.rs
  core/bin/manager/config.rs
  core/bin/manager/mod.rs
  core/bin/plugin/mod.rs
  core/bin/unit/datastore/child.rs
  core/bin/unit/datastore/deps.rs
  core/bin/unit/datastore/sets.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/manager.rs
  core/bin/unit/runtime.rs
  core/lib/unit/base.rs
  core/lib/unit/umif.rs
  docs/man/sysmaster.conf.md
  exts/devmaster/src/bin/devctl/main.rs
  exts/devmaster/src/bin/devmaster/main.rs
  exts/random_seed/src/main.rs
  libs/basic/src/condition.rs
  libs/basic/src/logger.rs
  libs/basic/src/path_lookup.rs
  libs/cmdproto/examples/signal.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: adjust the blocking mode of the command line and the priorities of some events
  core/bin/job/manager.rs
  core/bin/manager/commands.rs
  core/bin/manager/signals.rs
  core/bin/unit/sigchld.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: add action test
  tests/common/util_lib.sh
  tests/config_test/unit_config_test/action_001/action_001.sh
  tests/config_test/unit_config_test/action_001/check.sh
  tests/config_test/unit_config_test/condition_002/check.sh
  tests/config_test/unit_config_test/startlimit_001/check.sh
  tests/docker_config_test.rs
  tests/docker_config_test/docker_config_test_action_001/check.sh
  tests/docker_config_test/docker_config_test_action_001/docker_config_test_action_001.sh
  tests/test_units/tests/exit.target
  tests/test_units/tests/poweroff.target
  tests/test_units/tests/reboot.target
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

Optimize init code.
  core/bin/keep_alive/mod.rs
  core/bin/main.rs
  core/bin/manager/alive_timer.rs
  core/bin/manager/mod.rs
  exts/init/src/main.rs
  exts/init/src/runtime/alive.rs
  exts/init/src/runtime/comm.rs
  exts/init/src/runtime/epoll.rs
  exts/init/src/runtime/mod.rs
  exts/init/src/runtime/signals.rs
  exts/init/src/runtime/timer.rs
  libs/event/src/events.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: enable sysmaster log to syslog
  docs/man/sysmaster.conf.md
  libs/basic/src/logger.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: Refactor to use libc::signalfd_siginfo
  core/bin/manager/mod.rs
  core/bin/manager/signals.rs
  libs/event/src/events.rs
  libs/event/src/signal.rs
  libs/event/tests/signal.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

testcase: add startlimit/timeout/dependency test
  tests/config_test/unit_config_test/action_001/check.sh
  tests/config_test/unit_config_test/dependency_003/check.sh
  tests/config_test/unit_config_test/dependency_003/dependency_003.sh
  tests/config_test/unit_config_test/startlimit_001/check.sh
  tests/config_test/unit_config_test/timeout_001/check.sh
  tests/config_test/unit_config_test/timeout_001/timeout_001.sh
  tests/docker_config_test.rs
  tests/docker_config_test/docker_config_test_dependency_003/check.sh
  tests/docker_config_test/docker_config_test_dependency_003/docker_config_test_dependency_003.sh
  tests/docker_config_test/docker_config_test_timeout_001/check.sh
  tests/docker_config_test/docker_config_test_timeout_001/docker_config_test_timeout_001.sh
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

docs: add descriptions of ConditionUser & ConditionFirstBoot Signed-off-by: yangjiaqi <yangjiaqi16@huawei.com>
  core/bin/unit/entry/condition.rs
  docs/man/unit.md
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

docs(devmaster): update figure size in public article
  docs/design/extends/02-devmaster-public-article.md
  docs/design/extends/assets/device_management.png
Due: none

add README-en.md. Added the English version of the README file.
  README-en.md
Due: none

update README-en.md.
  README-en.md
Due: none

docs: fix pic style
  .gitignore
  docs/index.md
Due: none

fix: some trival fixes, no functional change
  core/bin/keep_alive/mod.rs
  exts/init/src/runtime/mod.rs
  exts/init/src/runtime/signals.rs
  libs/basic/src/logger.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: enable ConditionCapability
  core/bin/unit/entry/condition.rs
  core/bin/unit/entry/uentry.rs
  core/bin/unit/rentry.rs
  docs/man/unit.md
  libs/basic/Cargo.toml
  libs/basic/src/condition.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

docs(devmaster): fix title hierarchy not be displayed
  docs/design/extends/02-devmaster-architecture.md
  docs/design/extends/02-devmaster-public-article.md
Due: none

docs: fix descriptions of ConditionUser
  docs/man/unit.md
Due: none

testcase: add job mode test
  tests/common/util_lib.sh
  tests/config_test/unit_config_test/condition_002/check.sh
  tests/config_test/unit_config_test/dependency_003/check.sh
  tests/config_test/unit_config_test/dependency_004/check.sh
  tests/config_test/unit_config_test/dependency_004/dependency_004.sh
  tests/docker_config_test.rs
  tests/docker_config_test/docker_config_test_dependency_004/check.sh
  tests/docker_config_test/docker_config_test_dependency_004/docker_config_test_dependency_004.sh
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

删除文件 README-en.md
  README-en.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-fix: any of: \.rs$
  cargo-build: any of: \.(rs|toml|sh)$
  cargo-test: any of: \.(rs|toml|sh)$
