Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-fix, cargo-build, cargo-test

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -v --all -- --check -v'
  language: rust
  pass_filenames: false
  verbose: true

cargo-fix:
  name: cargo fix
  description: Check the package for errors.
  entry: bash -c 'cargo fix -v --broken-code --all-targets --all-features --tests --benches --examples --allow-dirty --allow-staged'
  language: rust
  pass_filenames: false
  verbose: true

cargo-build:
  name: cargo build
  description: build the package for errors.
  entry: bash -c 'cargo build --release --all -v'
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo test
  description: test the package for errors.
  entry: bash -c 'RUST_BACKTRACE=1 cargo test --all --release -v -- --nocapture --test-threads=1'
  language: rust
  pass_filenames: false

fix: fix the error of Invalid argument if the mount point is not mounted but remout flag is set, the remount operation will be delete in the final.
  src/libsysmaster/src/mount/mount_setup.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: for cross compilation, cgroup filesystem is not supported for musl.
  libs/libcgroup/src/cgroup.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: add mount point of /proc and /sys.
  src/libsysmaster/src/mount/mount_setup.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

ci: add test for musl build
  ci/00-pre.sh
  ci/01-pre-commit.sh
Due: cargo-build, cargo-test

update ci/00-pre.sh.
  ci/00-pre.sh
Due: cargo-build, cargo-test

feature: add support for SeqPacket socket type.
  coms/socket/src/socket_base.rs
  coms/socket/src/socket_config.rs
  coms/socket/src/socket_rentry.rs
  tests/test_units/test.socket
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

add tools to run sysmaster with busybox
  tools/run_with_busybox/README.md
  tools/run_with_busybox/build_image/build_image.sh
  tools/run_with_busybox/build_image/kiwi/config.sh
  tools/run_with_busybox/build_image/kiwi/config.xml
  tools/run_with_busybox/build_image/kiwi/root/usr/share/busybox/busybox.links
  tools/run_with_busybox/run_image/extra/etc/sysmaster/basic.target
  tools/run_with_busybox/run_image/extra/etc/sysmaster/init.service
  tools/run_with_busybox/run_image/extra/rcS
  tools/run_with_busybox/run_image/extra/start_sshd
  tools/run_with_busybox/run_image/extra/sysmasterwithbusybox.xml
  tools/run_with_busybox/run_image/run_image.sh
Due: cargo-build, cargo-test

ci: move musl-build to ci/02-musl-build.sh
  ci/00-pre.sh
  ci/01-pre-commit.sh
  ci/02-examples.sh
  ci/02-musl-build.sh
Due: cargo-build, cargo-test

build: add default dynamic link config rustcflags for cargo
  .cargo/config.toml
Due: cargo-build, cargo-test

fix: cross compilation error for musl build
  libs/libcgroup/src/cgroup.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

build: fix dylink build error in musl env
  .cargo/config.toml
  .pre-commit-config.yaml
  Cargo.toml
  ci/02-musl-build.sh
  coms/mount/src/mount_mng.rs
  coms/mount/src/mount_unit.rs
  coms/service/src/service_comm.rs
  coms/service/src/service_mng.rs
  coms/service/src/service_pid.rs
  coms/service/src/service_spawn.rs
  coms/socket/src/socket_comm.rs
  coms/socket/src/socket_config.rs
  coms/socket/src/socket_manager.rs
  coms/socket/src/socket_mng.rs
  coms/socket/src/socket_pid.rs
  coms/socket/src/socket_spawn.rs
  coms/target/src/target_comm.rs
  coms/target/src/target_unit.rs
  sysmaster/core/mount/mount_setup.rs
  sysmaster/core_if/unit/u_interface.rs
  tools/run_with_busybox/README.md
  tools/run_with_busybox/build_image/kiwi/config.sh
  tools/run_with_busybox/run_image/extra/sysmasterwithbusybox.xml
  tools/run_with_busybox/run_image/run_image.sh
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: support taking over panic behavior in dynamic link scenarios.
  .pre-commit-config.yaml
  Cargo.toml
Due: cargo-build, cargo-test

refactor: remove redundant build dependencies
  .pre-commit-config.yaml
  Cargo.toml
  build.rs
  build.sh
  ci/01-pre-commit.sh
  ci/02-musl-build.sh
  coms/mount/Cargo.toml
  coms/service/Cargo.toml
  coms/service/src/lib.rs
  coms/service/src/service_mng.rs
  coms/service/src/service_rentry.rs
  coms/socket/Cargo.toml
  coms/target/Cargo.toml
  config/conf/plugin.conf
  libs/libcgroup/Cargo.toml
  libs/libcmdproto/Cargo.toml
  libs/libcmdproto/build.rs
  libs/libcmdproto/build_conf.sh
  libs/libcmdproto/conf/plugin.conf
  libs/libcmdproto/conf/system.toml
  libs/libcmdproto/src/lib.rs
  libs/libcmdproto/src/proto/execute.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

refactor: refactor unit_name_to_type,use UnitType::from_str
  Cargo.toml
  sysmaster/core/unit/unit_rentry.rs
  sysmaster/core_if/unit/u_relationship.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: fix incorrect log message in UnixManagerX enable_unit
  sysmaster/core/unit/unit_manager.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: remove redundant build dependencies and provide a requirements scripts
  .cargo/config.toml
  .pre-commit-config.yaml
  Cargo.toml
  README.ch.md
  ci/01-pre-commit.sh
  ci/02-musl-build.sh
  coms/mount/Cargo.toml
  coms/service/Cargo.toml
  coms/socket/Cargo.toml
  coms/target/Cargo.toml
  libs/libcgroup/Cargo.toml
  libs/libcmdproto/Cargo.toml
  libs/libevent/Cargo.toml
  libs/libtests/Cargo.toml
  libs/libutils/Cargo.toml
  libs/libwatchdog/Cargo.toml
  requirements.sh
  tools/requirements.sh
Due: cargo-build, cargo-test

reformat tests & add docker_reliable
  docs/src/TEST-integration_test.md
  tests/common/docker_lib.sh
  tests/common/lib.sh
  tests/common/mod.rs
  tests/common/test_frame_docker.sh
  tests/docker_example.rs
  tests/docker_example/docker_example_001/check.sh
  tests/docker_example/docker_example_001/docker_example_001.sh
  tests/docker_example_001.rs
  tests/docker_reliable.rs
  tests/docker_reliable/docker_reliable_random_kill_service_001/check.sh
  tests/docker_reliable/docker_reliable_random_kill_service_001/docker_reliable_random_kill_service_001.sh
  tests/docker_reliable/docker_reliable_random_kill_service_001/test1.service
  tests/docker_reliable/docker_reliable_random_kill_service_001/test2.service
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: reliability test of socket and target
  coms/socket/src/socket_mng.rs
  sysmaster/core/unit/unit_runtime.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

style: remove needless borrow
  extends/fstab/src/fstab_item.rs
  extends/fstab/src/main.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: enable MountMonitorIo event immediately after add io source
  coms/mount/src/mount_manager.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: display the correct log when mounting successfully
  coms/mount/src/mount_manager.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: skip compensating last when unit_last in None
  sysmaster/core/unit/unit_manager.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: config notify socket at the begainning because we recover the unit first, and the recovered unit may use this configuration
  sysmaster/core/unit/notify.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

typo: cleanup notify.rs, no functional change
  sysmaster/core/unit/notify.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: add support for hongmeng os
  .pre-commit-config.yaml
  Cargo.toml
  ci/01-pre-commit.sh
  ci/02-musl-build.sh
  coms/service/src/service_mng.rs
  libs/libcgroup/Cargo.toml
  libs/libcgroup/src/cgroup.rs
  libs/libcgroup/src/lib.rs
  sysmaster/core/mount/mount_setup.rs
  sysmaster/main.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: start service failed when wants or requires by target
  sysmaster/core/manager/manager.rs
  sysmaster/core/unit/unit_manager.rs
  sysmaster/core/unit/unit_runtime.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

docs: refresh sysmaster design doc,clean doc warning
  README.ch.md
  docs/README.md
  docs/res/architecture.jpg
  docs/res/sysMaster_um.jpg
  docs/res/sysmaster-sourced.png
  docs/res/unitManger.jpg
  docs/src/SUMMARY.md
  docs/src/chapter_1.md
  docs/src/devel-doc.md
  docs/src/service.md
  docs/src/socket.md
  docs/src/unitManger.md
Due: none

feature: rename pctrl to sctl
  Cargo.toml
  docs/src/TEST-integration_test.md
  extends/sctl/Cargo.toml
  extends/sctl/src/main.rs
  tests/common/docker_lib.sh
  tests/common/lib.sh
  tests/docker_example/docker_example_001/check.sh
  tests/docker_reliable/docker_reliable_random_kill_service_001/check.sh
  tools/run_with_busybox/README.md
  tools/run_with_busybox/run_image/run_image.sh
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

docs: add devmaster architecture document
  docs/res/devmaster_architecture.jpg
  docs/src/devmaster-architecture.md
Due: none

feature: add command line single quote parsing
  sysmaster/core_if/unit/execute/exec_cmd.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: correct the cgroup path
  sysmaster/core/mount/mount_setup.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: print detail log when test failed
  tests/common/mod.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

docs: design of devmaster worker management
  docs/res/devmaster_worker_communicate.jpg
  docs/res/devmaster_worker_state_machine.jpg
  docs/src/devmaster-architecture.md
Due: none

feature: enable sctl status
  Cargo.toml
  coms/service/src/service_config.rs
  coms/service/src/service_rentry.rs
  coms/socket/src/socket_mng.rs
  coms/socket/src/socket_rentry.rs
  extends/random_seed/src/random_seed.rs
  extends/sctl/src/main.rs
  libs/libcgroup/src/cgroup.rs
  libs/libcmdproto/src/proto/execute.rs
  libs/libutils/Cargo.toml
  libs/libutils/src/conf_parser.rs
  libs/libutils/src/lib.rs
  libs/libutils/src/proc_cmdline.rs
  libs/libutils/src/show_table.rs
  sysmaster/core/butil/table.rs
  sysmaster/core/job/job_unit_entry.rs
  sysmaster/core/manager/manager.rs
  sysmaster/core/manager/pre_install.rs
  sysmaster/core/unit/execute/exec_spawn.rs
  sysmaster/core/unit/notify.rs
  sysmaster/core/unit/unit_entry/u_entry.rs
  sysmaster/core/unit/unit_entry/uu_child.rs
  sysmaster/core/unit/unit_manager.rs
  sysmaster/core/unit/unit_rentry.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature: enable sctl mask/unmask
  coms/socket/src/socket_config.rs
  extends/sctl/src/main.rs
  libs/libcmdproto/src/proto/abi.proto
  libs/libcmdproto/src/proto/abi.rs
  libs/libcmdproto/src/proto/execute.rs
  libs/libutils/src/fs_util.rs
  libs/libutils/src/path_lookup.rs
  sysmaster/core/manager/manager.rs
  sysmaster/core/manager/pre_install.rs
  sysmaster/core/mount/mount_setup.rs
  sysmaster/core/unit/unit_manager.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

build: remove unuse dependencies
  Cargo.toml
  coms/mount/Cargo.toml
  coms/service/Cargo.toml
  coms/socket/Cargo.toml
  coms/target/Cargo.toml
  libs/libproc_macro_utils/Cargo.toml
  libs/libutils/Cargo.toml
Due: cargo-build, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-fix: any of: \.rs$
  cargo-build: any of: \.(rs|toml|sh)$
  cargo-test: any of: \.(rs|toml|sh)$
