Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-fix, cargo-build, cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks.git"
    rev: v4.3.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
    #  - id: check-executables-have-shebangs
    #  - id: check-shebang-scripts-are-executable
  - repo: "https://github.com/codespell-project/codespell"
    rev: v2.2.1
    hooks:
      - id: codespell
        args: [-I, ci/codespell_ignore_words]
        verbose: true
  # - repo: "https://github.com/psf/black.git"
  #   rev: 22.8.0
  #   hooks:
  #     - id: black
  # - repo: https://github.com/jumanjihouse/pre-commit-hooks
  #   rev: master  # or specific git tag
  #   hooks:
  #     - id: bundler-audit
  #     # - id: check-mailmap
  #     - id: fasterer
  #     # - id: forbid-binary
  #     # - id: forbid-space-in-indent
  #     # - id: git-check  # Configure in .gitattributes
  #     # - id: git-dirty  # Configure in .gitignore
  #     # - id: markdownlint # Configure in .mdlrc
  #     - id: reek
  #     # - id: require-ascii
  #     - id: rubocop
  #     # - id: script-must-have-extension
  #     # - id: script-must-not-have-extension
  #     # - id: shellcheck
  #     # - id: shfmt

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: pretty-format-rust
      args: [--autofix]

  # - repo: https://github.com/doublify/pre-commit-rust
  #   rev: master
  #   hooks:
  #     - id: clippy

  - repo: local
    hooks:
      # - id: cargo-clippy
      #   name: cargo clippy
      #   description: Lint rust sources
      #   entry: bash -c 'RUSTC_WRAPPER="" cargo clippy --all-targets --all-features --tests --benches --examples -- -v'
      #   language: rust
      #   pass_filenames: false
      #   files: \.rs$
      #   verbose: true
      - id: commit-msg
        name: commit-msg
        description: use commit-msg for commit.
        entry: bash -c '\cp -ar ci/commit-msg .git/hooks/'
        language: system
        pass_filenames: false
        verbose: true
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -v --all -- --check -v'
        language: rust
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: cargo-fix
        name: cargo fix
        description: Check the package for errors.
        entry: bash -c 'cargo fix -v --broken-code --all-targets --all-features --tests --benches --examples --allow-dirty --allow-staged'
        language: rust
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: cargo-build
        name: cargo build
        description: build the package for errors.
        entry: bash -c 'cargo build --release --all -v'
        language: rust
        pass_filenames: false
        files: \.(rs|toml|sh)$
      - id: cargo-test
        name: cargo test
        description: test the package for errors.
        entry: bash -c 'RUST_BACKTRACE=1 cargo test --all --release -v -- --nocapture --test-threads=1'
        language: rust
        pass_filenames: false
        files: \.(rs|toml|sh)$

#      - id: cargo-deny
#        name: cargo deny check
#        description: Check cargo depencencies
#        entry: bash -c 'cargo deny check'
#        language: rust
#        files: \.rs$
#        args: []

refactor(devmaster): seperate execute manager and unit into independant file
  exts/devmaster/Cargo.toml
  exts/devmaster/examples/netlink.rs
  exts/devmaster/src/bin/devctl/subcmds/devctl_test_builtin.rs
  exts/devmaster/src/lib/builtin/blkid.rs
  exts/devmaster/src/lib/builtin/btrfs.rs
  exts/devmaster/src/lib/builtin/example.rs
  exts/devmaster/src/lib/builtin/hwdb.rs
  exts/devmaster/src/lib/builtin/input_id.rs
  exts/devmaster/src/lib/builtin/keyboard.rs
  exts/devmaster/src/lib/builtin/kmod.rs
  exts/devmaster/src/lib/builtin/mod.rs
  exts/devmaster/src/lib/builtin/net_id.rs
  exts/devmaster/src/lib/builtin/net_setup_link.rs
  exts/devmaster/src/lib/builtin/path_id.rs
  exts/devmaster/src/lib/builtin/uaccess.rs
  exts/devmaster/src/lib/builtin/usb_id.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/rules/exec_unit.rs
  exts/devmaster/src/lib/rules/mod.rs
  exts/devmaster/src/lib/rules/rules_load.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

typo: fix clippy warning
  .gitignore
  .pre-commit-config.yaml
  Cargo.toml
  ci/01-pre-commit.sh
  exts/rc-local-generator/src/rc_local_generator.rs
  init/src/main.rs
  libs/cmdproto/build.rs
  libs/cmdproto/src/proto/frame.rs
  libs/device/src/device.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(basic): support check naming scheme is enabled
  libs/basic/src/naming_scheme.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(devmaster): support loading and applying network interface configurations
  .cargo/config
  docs/man/devmaster.md
  exts/devmaster/Cargo.toml
  exts/devmaster/examples/netlink.rs
  exts/devmaster/src/bin/devctl/subcmds/devctl_test_builtin.rs
  exts/devmaster/src/lib/builtin/example.rs
  exts/devmaster/src/lib/builtin/input_id.rs
  exts/devmaster/src/lib/builtin/mod.rs
  exts/devmaster/src/lib/builtin/net_setup_link.rs
  exts/devmaster/src/lib/config/devmaster_conf.rs
  exts/devmaster/src/lib/config/mod.rs
  exts/devmaster/src/lib/config/netif_conf.rs
  exts/devmaster/src/lib/error.rs
  exts/devmaster/src/lib/framework/devmaster.rs
  exts/devmaster/src/lib/framework/worker_manager.rs
  exts/devmaster/src/lib/rules/exec_mgr.rs
  exts/devmaster/src/lib/rules/exec_unit.rs
  exts/devmaster/src/lib/rules/rules_load.rs
  exts/devmaster/tests/network/99-default.link
  exts/devmaster/tests/rules.d/08-test-rename_netif.rules
  exts/devmaster/tests/rules.d/09-test-builtin.rules
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

build: generate_cov.sh exit with 1 when genhtml failed
  tools/generate_cov.sh
Due: cargo-build, cargo-test

build: Set the coverage report to include the build phase
  tools/generate_cov.sh
Due: cargo-build, cargo-test

fix(device): tolerate strange properties in test_device_property_iterator
  libs/device/src/device.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: adjust the mode of init para file
  core/sysmaster/unit/manager.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(device): support enumerate child devices
  libs/device/src/device.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

test(device): improve the test case on child iterator
  libs/device/src/device.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix(devmaster): replace the loopdev source to avoid network failure
  Cargo.toml
Due: cargo-build, cargo-test

build: Don't collect the coverage report of examples
  tools/generate_cov.sh
Due: cargo-build, cargo-test

fix: isolate debugging code through configuration predicate 'debug'
  build.rs
  core/libsysmaster/rel/api.rs
  core/libsysmaster/rel/base.rs
  core/libsysmaster/rel/debug.rs
  core/libsysmaster/rel/mod.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix(run_with_vm): modify process of running virtual machine with sysmaster
  tools/run_with_vm/NetworkManager.service
  tools/run_with_vm/README.md
  tools/run_with_vm/install_sysmaster.sh
Due: cargo-build, cargo-test

fix: integer overflow
  coms/service/Cargo.toml
  coms/service/src/config.rs
  coms/service/src/mng.rs
  coms/service/src/rentry.rs
  coms/service/src/spawn.rs
  coms/service/src/unit.rs
  core/sysmaster/mount/setup.rs
  libs/basic/src/time_util.rs
  libs/constants/src/lib.rs
  libs/event/Cargo.toml
  libs/event/src/timer.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

test(condition): add unit test for condition
  coms/service/src/config.rs
  core/sysmaster/unit/entry/condition.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

refactor: Refactoring init to use the Tokio asynchronous runtime.
  ci/01-pre-commit.sh
  core/sysmaster/keep_alive/mod.rs
  core/sysmaster/main.rs
  core/sysmaster/manager/alive_timer.rs
  core/sysmaster/manager/mod.rs
  init/Cargo.toml
  init/src/main.rs
  init/src/runtime/comm.rs
  init/src/runtime/epoll.rs
  init/src/runtime/mod.rs
  init/src/runtime/param.rs
  init/src/runtime/signals.rs
  init/src/runtime/timer.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

test: add unit test for base.rs
  coms/service/src/config.rs
  coms/target/src/mng.rs
  core/libsysmaster/unit/base.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: check if the words is empty before using it
  core/sysmaster/unit/rentry.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: check if the message is truncated
  core/sysmaster/unit/notify.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: fix the type error of test_get_service_type()
  coms/service/src/config.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

test: add unit test for user_group_util
  coms/target/src/mng.rs
  core/libsysmaster/unit/base.rs
  libs/basic/Cargo.toml
  libs/basic/src/file_util.rs
  libs/basic/src/user_group_util.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: specify the version of tempfile
  Cargo.toml
Due: cargo-build, cargo-test

refactor: Add unit tests, increase coverage, and refactor the processing of signal type events.
  .pre-commit-config.yaml
  ci/01-pre-commit.sh
  core/sysmaster/main.rs
  core/sysmaster/manager/mod.rs
  core/sysmaster/manager/signals.rs
  libs/event/Cargo.toml
  libs/event/examples/signal.rs
  libs/event/src/error.rs
  libs/event/src/events.rs
  libs/event/src/lib.rs
  libs/event/src/poll/epoll.rs
  libs/event/src/poll/mod.rs
  libs/event/src/signal.rs
  libs/event/src/source.rs
  libs/event/tests/inotify.rs
  libs/event/tests/io.rs
  libs/event/tests/timer.rs
  libs/libtests/src/lib.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

test(basic): add some unit test cases to increase the code coverage
  libs/basic/src/build_util.rs
  libs/basic/src/errno_util.rs
  libs/basic/src/fs_util.rs
  libs/basic/src/naming_scheme.rs
  libs/basic/src/parse_util.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

test: Impove test coverage
  libs/basic/src/rlimit_util.rs
  libs/basic/src/uuid.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

test: adjust the testcase, use ' ; ' split different commands
  tests/config_test/unit_config_test/exec_001/check.sh
  tests/config_test/unit_config_test/timeout_002/check.sh
  tests/test_units/tests/exec.service
  tests/test_units/tests/nginx.service
  tests/test_units/tests/timeout.service
  tools/run_with_vm/udev-trigger.service
Due: cargo-build, cargo-test

docs: note that now different commands must be split by ' ; '
  docs/man/service.md
  docs/man/socket.md
Due: none

refactor: check the exec path more strictly
  core/libsysmaster/exec/cmd.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: add two helper function to check if the path name is safe, and path length is valid
  libs/basic/src/path_util.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: downgrade the time crate from 0.3.x to 0.1.45
  libs/basic/Cargo.toml
  libs/basic/src/logger.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

test(basic): add some unit test for file_utils
  libs/basic/src/file_util.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(basic): support displaying naming scheme in hexadecimal
  libs/basic/src/naming_scheme.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(device): support cache and iterate the attributes of device
  libs/device/src/device.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(device): seperate opendir to read_dir and open_dir methods
  libs/device/src/device.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(basic): add some ethernet address utilites
  libs/basic/src/ether_addr_util.rs
  libs/basic/src/lib.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

feature(devmaster): support builtin net_id
  exts/devmaster/src/lib/builtin/net_id.rs
  exts/devmaster/tests/rules.d/09-test-builtin.rules
  exts/devmaster/tests/rules.d/09-test-naming_netif.rules
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

refactor: rework path_simplify, make it accept double dot
  exts/devmaster/src/lib/rules/node.rs
  libs/basic/src/path_util.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: don't use String to parse xxxDirectory, and move these xxxDirectory from ExecParams to ExecContext
  coms/service/src/mng.rs
  coms/service/src/rentry.rs
  coms/service/src/spawn.rs
  coms/service/src/unit.rs
  core/libsysmaster/exec/base.rs
  core/libsysmaster/exec/mod.rs
  core/sysmaster/unit/execute/spawn.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test

fix: fix some clippies
  coms/service/src/rentry.rs
  core/libsysmaster/exec/base.rs
  core/libsysmaster/exec/cmd.rs
  core/sysmaster/unit/execute/spawn.rs
  libs/basic/src/path_util.rs
Due: cargo-fmt, cargo-fix, cargo-build, cargo-test
