Repository sysmaster-online/sysmaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks.git"
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=100"]
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: detect-private-key
      - id: check-executables-have-shebangs
        files: ^(.*\.sh|.*\.py)$

  - repo: local
    hooks:
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: bash -c 'cargo clean;codespell -I ci/codespell_ignore_words -x ci/codespell_ignore_words -S *.rules -S vendor* -S target*'
        language: system
        pass_filenames: false
        verbose: true
      - id: cargo-override-set
        name: cargo-override-set
        description: unset override.
        entry: bash -c 'rustup override set 1.57.0 || true'
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: false
      - id: cargo-build
        name: cargo build
        description: build the package for errors.
        entry: bash -c 'cargo build --all --features "default" -v'
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'RUSTC_WRAPPER="" cargo clippy -vvv --all-targets --features "default" --all -- -Dwarnings'
        language: system
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: cargo-fix
        name: cargo fix
        description: Check the package for errors.
        entry: bash -c 'cargo fix -v --broken-code --all-targets --all --allow-dirty --allow-staged'
        language: system
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: cargo-fmt
        name: cargo fmt
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -v --all -- --check -v'
        language: system
        pass_filenames: false
        files: \.rs$
        verbose: true
      - id: cargo-test-tmpfile-cleanup
        name: tmpfile cleanup
        description: tmpfile cleanup.
        entry: bash -c 'rm -rf target/*/reliability/'
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true
      - id: cargo-test
        name: cargo test
        description: test the package for errors.
        entry: bash -c 'RUST_BACKTRACE=full cargo test --all-targets --all -v -- --nocapture --show-output --test-threads=1'
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: true
      - id: cargo-override-unset
        name: cargo-override-unset
        description: unset override.
        entry: bash -c 'rustup override unset || true'
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        verbose: false
#      - id: cargo-deny
#        name: cargo deny check
#        description: Check cargo depencencies
#        entry: bash -c 'cargo deny check'
#        language: rust
#        files: \.rs$
#        args: []

test(device): fix unit case for checking whether update_db returns error
  libs/device/src/device.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

docs(devmaster): add document for generating initramfs using devmaster instead of udev
  docs/use/devmaster替代udev运行/readme.md
Due: none

feature: add Unit Path
  Cargo.lock
  core/coms/path/Cargo.toml
  core/coms/path/src/base.rs
  core/coms/path/src/comm.rs
  core/coms/path/src/config.rs
  core/coms/path/src/lib.rs
  core/coms/path/src/manager.rs
  core/coms/path/src/mng.rs
  core/coms/path/src/rentry.rs
  core/coms/path/src/unit.rs
  core/coms/service/src/mng.rs
  core/coms/socket/src/rentry.rs
  core/coms/target/src/unit.rs
  core/libcore/Cargo.toml
  core/libcore/src/exec/base.rs
  core/libcore/src/unit/deps.rs
  core/libcore/src/unit/mod.rs
  core/libcore/src/unit/path_spec.rs
  core/libcore/src/unit/umif.rs
  core/sysmaster/Cargo.toml
  core/sysmaster/src/manager/rentry.rs
  core/sysmaster/src/unit/manager.rs
  core/sysmaster/src/unit/util/unit_om.rs
  factory/usr/lib/sysmaster/system/paths.target
  libs/basic/Cargo.toml
  libs/basic/src/condition.rs
  libs/basic/src/fs.rs
  libs/basic/src/glob.rs
  libs/basic/src/lib.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

docs: add the description that initrd uses devmaster instead of systemd-udevd
  docs/use/00-制作sysmaster作为1号进程的iso镜像.md
Due: none

feature: support transient unit configuration file read and write framework
  core/coms/mount/src/manager.rs
  core/coms/service/src/bus.rs
  core/coms/service/src/config.rs
  core/coms/service/src/lib.rs
  core/coms/service/src/manager.rs
  core/coms/service/src/rentry.rs
  core/coms/service/src/unit.rs
  core/coms/socket/src/manager.rs
  core/libcore/src/error.rs
  core/libcore/src/unit/base.rs
  core/libcore/src/unit/deps.rs
  core/libcore/src/unit/mod.rs
  core/libcore/src/unit/umif.rs
  core/libcore/src/unit/write.rs
  core/sysmaster/src/job/manager.rs
  core/sysmaster/src/plugin/mod.rs
  core/sysmaster/src/unit/bus.rs
  core/sysmaster/src/unit/entry/base.rs
  core/sysmaster/src/unit/entry/bus.rs
  core/sysmaster/src/unit/entry/config.rs
  core/sysmaster/src/unit/entry/load.rs
  core/sysmaster/src/unit/entry/mod.rs
  core/sysmaster/src/unit/entry/uentry.rs
  core/sysmaster/src/unit/entry/unitx.rs
  core/sysmaster/src/unit/manager.rs
  core/sysmaster/src/unit/mod.rs
  core/sysmaster/src/unit/rentry.rs
  core/sysmaster/src/unit/submanager.rs
  core/sysmaster/src/unit/uload.rs
  core/sysmaster/src/unit/util/unit_om.rs
  libs/basic/src/fs.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(devmaster): delete binaries of udev in initramfs
  docs/use/devmaster替代udev运行/install_devmaster.sh
  docs/use/devmaster替代udev运行/uninstall_devmaster.sh
  exts/devmaster/dracut_modules/98devmaster/init.sh
  exts/devmaster/dracut_modules/98devmaster/module-setup.sh
Due: none

fix(libudev): fix incorrect module name of basic
  exts/libudev/src/libudev_monitor.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(devmaster): avoid default install of 98devmaster dracut module
  exts/devmaster/dracut_modules/98devmaster/module-setup.sh
Due: none

docs(devmaster): fix document
  docs/use/devmaster替代udev运行/readme.md
Due: none

feature: add bash script to build rpms
  ci/common_function
  docs/cicd/build_rpm_with_mock/build_rpm.sh
  docs/cicd/build_rpm_with_mock/openeuler-22.03.tpl
  rpms
Due: none

docs: add libs.md
  ci/04-crates-allow.sh
  ci/crates.allow
  libs.md
Due: none

fix(doc): update install_sysmaster.sh script
  docs/use/虚机中替代pid1运行/install_sysmaster.sh
  docs/use/虚机中替代pid1运行/readme.md
Due: none

fix: fix the check error of ConditionKernelCommandLine=ro and update sysmaster.spec
  docs/cicd/build_rpm_with_mock/sysmaster.spec
  libs/basic/src/condition.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

build: change version
  core/coms/timer/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

release: tag 1.0.0
  Cargo.lock
  core/coms/timer/Cargo.toml
  docs/cicd/build_xz_with_vendor/vendor.sh
Due: cargo-override-set, cargo-build, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

build: change util-linux-devel to libblkid-devel
  ci/00-pre.sh
  docs/cicd/build_rpm_with_mock/sysmaster.spec
Due: none

fix: adjust the range and order of setting temporary properties for units
  core/coms/path/src/bus.rs
  core/coms/path/src/rentry.rs
  core/coms/service/src/bus.rs
  core/coms/service/src/rentry.rs
  core/coms/socket/src/bus.rs
  core/coms/socket/src/rentry.rs
  core/coms/timer/src/bus.rs
  core/coms/timer/src/rentry.rs
  core/sysmaster/src/unit/bus.rs
  core/sysmaster/src/unit/rentry.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix: resolve wantedby invalid
  core/sysmaster/src/manager/pre_install.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(devmaster): correct the database path
  exts/devmaster/src/lib/utils/commons.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

docs: update path of scripts after directory move
  docs/use/devmaster替代udev运行/readme.md
Due: none

feature(devmaster): add net_driver builtin to be compatible with systemd-udev 255
  exts/devmaster/src/lib/builtin/mod.rs
  exts/devmaster/src/lib/builtin/net_driver.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix: read pid cmdline incorrect
  libs/basic/src/cmdline.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix: resolve not mount home
  exts/fstab/src/main.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(devmaster): fix incorrect cmdline parameter value due to previous refactor
  exts/devmaster/src/lib/rules/exec_mgr.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(devmaster): supply log messages on loading .link config files
  exts/devmaster/src/lib/config/netif_conf.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

fix(devmaster): add device property when cmdline parameter has no value
  exts/devmaster/src/lib/rules/exec_mgr.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

feature: add RISC-V support
  Cargo.lock
  exts/devmaster/Cargo.toml
  exts/switch_root/src/switch_root.rs
  libs/basic/src/machine.rs
  libs/basic/src/uuid.rs
  libs/device/src/device.rs
Due: cargo-override-set, cargo-build, cargo-clippy, cargo-fix, cargo-fmt, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

release: v1.1.0 add support for risc-v
  Cargo.lock
  Cargo.toml
  core/coms/mount/Cargo.toml
  core/coms/path/Cargo.toml
  core/coms/service/Cargo.toml
  core/coms/socket/Cargo.toml
  core/coms/target/Cargo.toml
  core/coms/timer/Cargo.toml
  core/libcore/Cargo.toml
  core/sctl/Cargo.toml
  core/sysmaster/Cargo.toml
  exts/devmaster/Cargo.toml
  exts/fstab/Cargo.toml
  exts/getty-generator/Cargo.toml
  exts/hostname_setup/Cargo.toml
  exts/hwdb/Cargo.toml
  exts/libudev/Cargo.toml
  exts/libudev_macro/Cargo.toml
  exts/machine-id-setup/Cargo.toml
  exts/random_seed/Cargo.toml
  exts/rc-local-generator/Cargo.toml
  exts/run/Cargo.toml
  exts/switch_root/Cargo.toml
  exts/sysmonitor/Cargo.toml
  libs/basic/Cargo.toml
  libs/blkid_rs/Cargo.toml
  libs/cgroup/Cargo.toml
  libs/cmdproto/Cargo.toml
  libs/constants/Cargo.toml
  libs/device/Cargo.toml
  libs/event/Cargo.toml
  libs/hwdb/Cargo.toml
  libs/input_event_codes_rs/Cargo.toml
  libs/kmod_rs/Cargo.toml
  libs/libtests/Cargo.toml
  libs/log/Cargo.toml
  libs/macros/Cargo.toml
  libs/scsi_generic_rs/Cargo.toml
  libs/selinux/Cargo.toml
  libs/watchdog/Cargo.toml
Due: cargo-override-set, cargo-build, cargo-test-tmpfile-cleanup, cargo-test, cargo-override-unset

docs: 新增用户指南
  docs/en/_toc.yaml
  docs/en/device_management.md
  docs/en/devmaster_install_deploy.md
  docs/en/devmaster_usage.md
  docs/en/figures/devmaster_architecture.png
  docs/en/figures/sysMaster.png
  docs/en/overview.md
  docs/en/service_management.md
  docs/en/sysmaster_install_deploy.md
  docs/en/sysmaster_usage.md
  docs/zh/_toc.yaml
  docs/zh/device_management.md
  docs/zh/devmaster_install_deploy.md
  docs/zh/devmaster_usage.md
  docs/zh/figures/devmaster_architecture.png
  docs/zh/figures/sysMaster.png
  docs/zh/overview.md
  docs/zh/service_management.md
  docs/zh/sysmaster_install_deploy.md
  docs/zh/sysmaster_usage.md
Due: none

docs: update docs/en/devmaster_install_deploy.md.
  docs/en/devmaster_install_deploy.md
Due: none

docs: 修改文档链接错误问题
  docs/en/devmaster_usage.md
  docs/en/sysmaster_usage.md
  docs/zh/devmaster_usage.md
Due: none

fix: add migrate note
  README.md
Due: none

fix: add migrate note
  .本项目已经正式迁移至 AtomGit 平台/README.md
Due: none

fix: add migrate englist note
  README.md
Due: none

fix: add migrate englist note
  .This project migrated to AtomGit/README.md
Due: none
